
nav ul{
    list-style: none;
}
nav{
    display: flex;
    
}

.log{
    display: flex;
    
}

.log li{
    
    padding: 10px;
    margin: 10px;
} 
.log button{
    justify-content: center;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
}
.section1{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}
.section1 button{
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.btn1{
    background-color: green;
    color: white;
}
.btn2{
    color: green;
}
.div1{
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid red;
}

.info1{
    display: flex;
    justify-content: space-around;
}

.info{
    display: flex;
    justify-content: center;
}
.info,.img1{
    height: 1px;
    
}
.info,.word,.img1{
    margin-top: 10px;
}
.img1,.pict{

    height: 32rem;
}
.img11{
    display: flex;
    justify-content: center;
    align-items: center;
}

.set3{
    display: flex;
}
.set1{
    display: flex;
}

.set2{
    display: flex;
}


.test{
    text-align: center;   
}

.word{
    margin-right: 10px;
}
.word1{
    margin-left: 10px;
}

.test1{
    padding-left: 1100px;
}

.logo{
    margin-top: 30px;
}
.btn5{
    text-align: center;
    
} 

.di{
    height: 35rem;
    width: 100px;
}
.btn6{
    padding: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;

}